### IntelliJ IDEA ###
*.iml
.idea/
out/
*.xml
!**/src/main/**/out/
!**/src/hw4_cycles_lesson1/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/hw4_cycles_lesson1/
/src/hw4_cycles_lesson1/
/src/hw4_cycles_lesson1/
/src/hw4_cycles_lesson1/
